body {
  background-color: rgba(100,100,100,0.2) !important;
}
body .container {
  background-color: white;
  box-shadow: 0 0 40px 3px rgba(120,120,120,0.4);
  border-radius: 5px;
  overflow-X: hidden;
  padding-bottom: 30px;
}
body .container b {
  color: #428bca;
}
.navbar-form {
  margin-right: 0;
}
#datepicker-container {
  width: 250px !important;
}
#datepicker-container input {
  margin-left: 15px;
  width: 200px;
}
.clockpicker {
  width: 250px !important;
}
.clockpicker input {
  margin-left: 15px;
  width: 200px !important;
}
#loading {
  -moz-animation: tourne 5s linear infinite;
  -webkit-animation: tourne 5s linear infinite;
}
@-webkit-keyframes tourne {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes tourne {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
